@import "styles/variables/global";

.portfolio {
  padding-top: 0;
  padding-bottom: 125px;

  @media screen and (max-width: $max-width-tablet) {
    padding-bottom: 90px;
  }

  @media screen and (max-width: $max-width-mobile) {
    padding-bottom: 60px;
  }

  &__title {
    color: $grey-3;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 50px;

    @media screen and (max-width: $max-width-mobile) {
      font-size: 14px;
    }
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &:not(:last-of-type)::after {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      background: $grey-4;
      margin: 20px 0;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    gap: 5px;

    @media screen and (max-width: $max-width-tablet) {
      font-size: 28px;
      letter-spacing: -1.12px;
    }

    @media screen and (max-width: $max-width-mobile) {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.72px;
    }
  }
}
