// padding-y
$padding-y-m-desktop: 110px;
$padding-y-m-tablet: 90px;
$padding-y-m-phone: 70px;

$padding-y-s-desktop: 70px;
$padding-y-s-tablet: 70px;
$padding-y-s-phone: 40px;

// padding-x
$padding-x-m-desktop: 70px;
$padding-x-m-tablet: 50px;
$padding-x-m-phone: 15px;

$padding-x-s-desktop: 70px;
$padding-x-s-tablet: 30px;
$padding-x-s-phone: 10px;
