@import "styles/variables/global";

.search {
  padding-bottom: 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__input-wrapper {
    display: flex;
    border: 1.5px solid rgba($grey-2, .2);
    border-radius:$border-radius-m;
    padding: 10px;
    transition: border $transition;

    &:focus-within {
      border: 1.5px solid $blue;
    }

    @media screen and (max-width: $max-width-mobile) {
      padding: 5px;
    }
  }

  &__input {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 15px;

    @media screen and (max-width: $max-width-mobile) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__button {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    @media screen and (max-width: $max-width-mobile) {
      padding: 13px 10px;
    }
  }

  &__switcher {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
  }

  &__divider {
    margin-top: 20px;
  }
}
